.backend-color {
  background-color: antiquewhite;
}

.frontend-color {
  background-color: beige;
}

.image_style {
    height: 180px;
    max-width: 200px;
    border: 1px solid grey;
}

.index-card {
    width: 180px;
    height: 250px;
    display: inline-block;
    margin: 70px
}

.title {
    padding-left: 12px;
    padding-top: 9px
}
